<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs.amplab.carat.android"
    android:versionCode="66"
    android:versionName="@string/version_name"
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- For sending and receiving Samples and reports. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For Sampling network stuff -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Required on some phones to check wifi signal strength. Should not be required. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required for IMEI / MEID for user differentiation. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- Required for WiFi settings on some phones. -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!-- Required for programmatic killing of apps -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    
    
    <application
        android:allowBackup="true"
        android:name="CaratApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen" 
            android:screenOrientation="portrait"
            android:theme="@style/notitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".sampling.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Start Carat on boot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>                
        </receiver>
        <receiver
            android:name=".sampling.Sampler"
            android:enabled="true"
            android:exported="true"
            android:label="Carat Sampler" >
            <intent-filter>

                <!--
                It is not possible to schedule TIME_TICK outside of the program.
                Also, using AlarmManager with setRepeatingInexact saves battery if the interval
                is 15 mins or more.
                -->
<!--                  <action android:name="android.intent.action.TIME_TICK" /> -->


                <!-- This event cannot be registered to from the manifest either. -->
<!--                 <action android:name="android.intent.action.BATTERY_CHANGED" /> -->
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" /> 
                <!-- BATTERY_CHANGED seems to activate in all these conditions: -->
                <!-- <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />-->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <!-- Sample on timer if nothing else happens for 15 mins -->
                <action android:name="edu.berkeley.cs.amplab.carat.android.ACTION_SAMPLE" />
                
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <service android:label="SamplingService" android:name=".sampling.SamplerService"></service>
        <receiver android:name=".sampling.InstallReceiver" android:label="Installation Intent Receiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" /> 
            </intent-filter>
        </receiver>
        
    </application>
</manifest>
